.header {
	padding: $lh / 2 20px;
	// padding: calc( $lh / 2 ) 20;
	border-bottom: solid 1px rgba(252, 255, 107, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 98;
	@include l {
		padding: $lh / 2 $lh * 2;
		// padding: calc( $lh / 2 ) calc( $lh * 2 );
	}
	@include xxl {
		padding: $lh $lh * 3;
		// padding: $lh calc( $lh * 3 );
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__wrapper-hamburger-menu {
		@include l {
			display: none;
		}
	}
	&__wrapper-logo,
	&__wrapper-hamburger-menu {
		flex: 0 0 50%;
		@include l {
			flex: 0 0 auto;
		}
	}
	&__wrapper-social {
		display: none;
		@include l {
			display: block;
		}
	}
}

// Fix view with Admin bar
body.admin-bar {
	.header  {
		top: 46px;
		@media (min-width: 782px) {
			top: 32px;
		}
	}
}
#wpadminbar {
	position: fixed;
}