* {
	box-sizing: border-box;
	font-family: $ff1;
	font-size: 14px;
	line-height: 22px;
	@include l {
		font-size: 15px;
		line-height: 23px;
	}
	@include xl {
		font-size: 18px;
		line-height: 26px;
	}
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	color: $text;
	font-family: $ff1;
	font-variant-ligatures: none;
	font-weight: 400;
	line-height: $lh;
	overflow: hidden;
	// background: $soft-gray;
	position: relative;
}

p,
ul {
	font-size: 14px;
	line-height: 22px;
	@include l {
		font-size: 15px;
		line-height: 23px;
	}	
	@include xl {
		font-size: 18px;
		line-height: 26px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

p a {
	text-decoration: underline;
	transition: color .3s ease;
	&:hover {
		color: $primary;
	}
}

input:focus-visible {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $ff1;
}

pre {
	background: $white;
	color: $black;
	font-family: monospace;
}

em {
	font-style: italic;
}

ul {
	list-style: disc;
	margin-left: calc( $lh / 1.5 );
}

strong {
	font-weight: 700;
}

blockquote, q {
	font-style: italic;
	margin: calc( $lh / 2 ) 0 calc( $lh / 2 ) calc( $lh * 1.3 );
}
blockquote p:before,
q p:before {
	content: '“';
}

blockquote p:after,
q p:after {
	content: '”';
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

::selection {
	color: $white;
	background: $primary;
	
}


.nowrap {
	white-space: nowrap;
}

.global-inner {
	margin: 0 auto;
	width: calc(100% - 40px);
	@include m {
		width: calc(100% - 104px);
	}
	@include l {
		width: 960px;
	}
	@include xl {
		width: 1280px;
	}
	@include xxl {
		width: 1400px;
	}
}

.d-mobile {
	@include l {
		display: none;
	}
}

.d-desktop {
	display: none;
	@include l {
		display: block;
	}
}


.image--fluid {
	max-width: 100%;
	height: auto;
}

.no--border {
	border: none;
}

body:before
{
	align-items: center;
	background: black;
	content: 'S';
	color: white;
	display: flex;
	height: 20px;
	justify-content: center;
	position: fixed;
	right: 0;
	top: 0;
	width: 20px;
	z-index: 9999;
	// @include a { content: 'A'; }
	// @include b { content: 'B'; }
	// @include c { content: 'C'; }
	// @include d { content: 'D'; }
	// @include e { content: 'E'; }
	// @include f { content: 'F'; }
	// @include g { content: 'G'; }

	@include m { content: 'M'; }
	@include l { content: 'L'; }
	@include xl { content: 'XL'; }
	@include xxl { content: 'XXL'; }
}
