// Color
.primary {
	color: $primary;
}
.secondary {
	color: $secondary;
}
.tertiary {
	color: $tertiary;
}
.text {
	color: $text;
}
.soft-gray {
	color: $soft-gray;
}
.white {
	color: $white;
}


// Background color
.bg--primary {
	background-color: $primary;
}
.bg--secondary {
	background-color: $secondary;
}
.bg--tertiary {
	background-color: $tertiary;
}
.bg--text {
	background-color: $text;
}
.bg--soft-gray {
	background-color: $soft-gray;
}
.bg--primary-dark {
	background-color: #1259F8;
}

// Border color

.border--primary {
	border: solid 2px $primary;
}
.border--secondary {
	border: solid 2px $secondary;
}
.border--tertiary {
	border: solid 2px $tertiary;
}
.border--text {
	border: solid 2px $text;
}
.border--soft-gray {
	border: solid 2px $soft-gray;
}
.border--primary-dark {
	border: solid 2px #1259F8;
}