// Color
.primary {
	color: $primary;
}
.secondary {
	color: $secondary;
}
.tertiary {
	color: $tertiary;
}
.text {
	color: $text;
}
.soft-gray {
	color: $soft-gray;
}
.white {
	color: $white;
}


// Background color
.bg--primary {
	background-color: $primary;
}
.bg--secondary {
	background-color: $secondary;
}
.bg--tertiary {
	background-color: $tertiary;
}
.bg--text {
	background-color: $text;
}
.bg--soft-gray {
	background-color: $soft-gray;
}