// Line height
$lh: 26px;

// Colors
$white: #ffffff;
$black: #111111;
$primary: #1D63FF;
$secondary: #FCFF6B;
$tertiary: #01FFFE;
$text: #36385E;
$soft-gray: #F5F8FF;

// Fonts
$ff1: 'Gibson', sans-serif;