.animated-path-cover {
	@include l {
		max-height: 100vh;
		overflow: hidden;
	}
	// @include xxl {
	// 	max-height: 100vh;
	// 	overflow: hidden;
	// }
	&__svg {
		height: 650px;
		@include l {
			height: auto;
		}
	}
}
