.animated-path-cover {
	overflow: hidden;
	font-size: 0;
	line-height: 1;
	@include l {
		max-height: calc( 100vh - 54px );
	}
	@include xxl {
		max-height: calc( 100vh - 83px );
	}
	&__svg {
		height: 900px;
		@include l {
			height: auto;
		}
	}
}
